@use "variables" as v;

:root{
  --bg-color: hsla(200, 38%, 14%, 1);
  --second-color: hsla(197, 99%, 37%, 1);
}

/* ---nullification--- */
*{padding: 0; margin: 0; border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html, body{
height: 100%;
width: 100%;
font-size: 100%;
line-height: 1;
font-size: 16px;
font-family: Roboto;
color: white;
background-color: v.$bgColor;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
overflow-x: hidden;
/* scroll-behavior: smooth; */
// overflow: hidden;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0; border: 0;}
a, a:visited{        
  text-decoration: none;
  color: white;
}
a:hover{text-decoration: none; color:red;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 700;}
// ::-webkit-scrollbar {display: none;}
/* ---end nullification--- */

.layout{
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.section{
  min-height: 100vh;
}

.input-group {
  border: 1px solid grey;
  border-radius: 3px;
}