@use "typography";
@use "default";
@use "mixins";

@use "blocks/header";
@use "blocks/banner";
@use "blocks/sessions";
@use "blocks/reviews";
@use "blocks/about";
@use "blocks/session-cost";
@use "blocks/map";
@use "blocks/newSessionFormat";