@use '../mixins.scss' as m;

.blog {
    margin: 0 auto;
    width: 1300px;
    font-family: El Messiri;
    margin-bottom: 50px;
    .blog_title {
        display:flex;
        justify-content: center;
        .blog_title_text {
            font-size: 40px;
            margin: 0px 60px;
            margin-bottom: 25px;
        }
        margin-bottom: 50px;
    }
    .wingLeft {
        @include m.wings(#018ABE)
    }
    .wingRight {
        @include m.wings(#018ABE);
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    .blog_block {
        width: 100%;
        height: 530px;
        border: 2px solid #018ABE;
        border-radius: 20px;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 50px;
        .blog_block_grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 50px;
            img {
                height: 430px;
                width: 100%;
                border-radius: 10px;
                object-fit: cover;
            }
            .blog_block_grid_info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h3 {
                    font-size:25px;
                }
                p {
                    width: 90%;
                    color: grey;
                }
                .likeButton {
                    text-align: center;
                    width: 120px;
                    padding: 10px 0px;
                    color:white;
                    background-color:#018ABE;
                    border: 1px solid #018ABE;
                    border-radius: 5px;
                }
            }
        }
    }
    hr {
        border: none; 
        background-color: grey;
        color: grey;
        height: 1px; 
        margin-bottom: 25px;
    }
    #createBlog {
        h2 {
            font-size: 45px;
        }
    }
}