<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <title>
        Главная
    </title>
</head>

<body>
    <div class="layout">
        <div class="header">
            <div class="fixed">
                <div class="container">
                    <div class="logoWrapper">
                        <img src="/src/assets/images/logo.svg" alt="" class="logo">
                    </div>
                    <ul class="navigation">
                        <li class="navElement"><a href="index.html">Главная</a></li>
                        <li class="navElement"><a href="sessions.html">Сеансы</a></li>
                        <li class="navElement">Отзывы</li>
                        <li class="navElement">Контакты</li>
                        <li class="navElement"><a href="news.html">Новости</a></li>
                        <li class="navElement">Обо мне</li>
                        <li class="navElement"><a href="blog.html">Блог</a></li>
                    </ul>
                    <div class="buttonWrapper">
                        <button type="button" class="button">
                            Записаться на сеанс
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner">
            <div class="banner_image">
                <div class="banner_name">
                    <div class="wingLeft"></div>
                    <div class="banner_name_text">Укрепление здоровья</div>
                    <div class="wingRight"></div>
                </div>
                <div class="banner_title">
                    <h3 class="banner_title_text">Акватерапия</h3>
                    <h3 class="banner_title_text">RitmStyle</h3>
                </div>
            </div>
        </div>
        <div class="sessions">
            <div class="session_title">
                <div class="wingLeft"></div>
                <div class="session_title_text">Сеансы RitmStyle</div>
                <div class="wingRight"></div>
            </div>
            <div class="sessions_cards">
                <div class="sessions_card_big">
                    <div class="sessions_text">Стандартный RitmStyle</div>
                </div>
                <div class="sessions_card">
                    <div class="sessions_text">RitmStyle для пар</div>
                </div>
                <div class="sessions_card">
                    <div class="sessions_text">RitmStyle с полным погружением под воду</div>
                </div>
                <div class="sessions_card">
                    <div class="sessions_text">RitmStyle для беременных</div>
                </div>
                <div class="sessions_card">
                    <div class="sessions_text">RitmStyle + красочная подводная фотосессия</div>
                </div>
            </div>
        </div>
        <div class="reviews">
            <div class="reviews_title">
                <div class="wingLeft"></div>
                <div class="review_title_text">Отзывы</div>
                <div class="wingRight"></div>
            </div>
            <div class="reviews_swipper">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <h3>fdsfds</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus qui i
                            n neque rem quo accusantium ipsam molestiae hic nulla culpa tempora, repudiandae consequuntur 
                            voluptatem impedit perferendis quas est! Tenetur, molestiae.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus qui i
                            n neque rem quo accusantium ipsam molestiae hic nulla culpa tempora, repudiandae consequuntur 
                            voluptatem impedit perferendis quas est! Tenetur, molestiae.
                        </p>
                      </div>
                      <div class="swiper-slide">                        
                        <h3>fdsfds</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus qui i
                            n neque rem quo accusantium ipsam molestiae hic nulla culpa tempora, repudiandae consequuntur 
                            voluptatem impedit perferendis quas est! Tenetur, molestiae.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus qui i
                            n neque rem quo accusantium ipsam molestiae hic nulla culpa tempora, repudiandae consequuntur 
                            voluptatem impedit perferendis quas est! Tenetur, molestiae.
                        </p>
                      </div>
                      <div class="swiper-slide">
                        <h3>fdsfds</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus qui i
                            n neque rem quo accusantium ipsam molestiae hic nulla culpa tempora, repudiandae consequuntur 
                            voluptatem impedit perferendis quas est! Tenetur, molestiae.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus qui i
                            n neque rem quo accusantium ipsam molestiae hic nulla culpa tempora, repudiandae consequuntur 
                            voluptatem impedit perferendis quas est! Tenetur, molestiae.
                        </p>
                      </div>
                      <div class="swiper-slide">
                        <h3>fdsfds</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus qui i
                            n neque rem quo accusantium ipsam molestiae hic nulla culpa tempora, repudiandae consequuntur 
                            voluptatem impedit perferendis quas est! Tenetur, molestiae.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus qui i
                            n neque rem quo accusantium ipsam molestiae hic nulla culpa tempora, repudiandae consequuntur 
                            voluptatem impedit perferendis quas est! Tenetur, molestiae.
                        </p>
                      </div>
                      <div class="swiper-slide">
                        <h3>fdsfds</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus qui i
                            n neque rem quo accusantium ipsam molestiae hic nulla culpa tempora, repudiandae consequuntur 
                            voluptatem impedit perferendis quas est! Tenetur, molestiae.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus qui i
                            n neque rem quo accusantium ipsam molestiae hic nulla culpa tempora, repudiandae consequuntur 
                            voluptatem impedit perferendis quas est! Tenetur, molestiae.
                        </p>
                      </div>
                      <div class="swiper-slide">
                        <h3>fdsfds</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus qui i
                            n neque rem quo accusantium ipsam molestiae hic nulla culpa tempora, repudiandae consequuntur 
                            voluptatem impedit perferendis quas est! Tenetur, molestiae.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus qui i
                            n neque rem quo accusantium ipsam molestiae hic nulla culpa tempora, repudiandae consequuntur 
                            voluptatem impedit perferendis quas est! Tenetur, molestiae.
                        </p>
                      </div>
                    </div>
                    <div class="swiper-pagination"></div>
                  </div>
            </div>
            <div class="about">
                <div class="about_title">
                    <div class="wingLeft"></div>
                    <div class="about_title_text">Об RitmStyle</div>
                    <div class="wingRight"></div>
                </div>
                <div class="about_info">
                    <div class="about_grid_info">
                        <div class="about_grid_item">
                            <div class="about_grid_text">
                                <h3>RitmStyle массаж </h3>
                                    <p>
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis, placeat libero tempore, corrupti nis
                                        i blanditiis recusandae inventore quaerat odio, necessitatibus obcaecati reiciendis tenetur dolor
                                        um pariatur quae adipisci et voluptas eos? Atque odit doloremque, voluptatum molestias aut earum labore ad.
                                        Lorem ipsum dolor, sit amet consectetur adipisicing el obcaecati reiciendis tenetur dolor
                                        um pariatur quae adipisci et voluptas eos? Atque odit doloremque, voluptatum molestias aut earum labore ad.
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia explicabo sed a animi harum voluptatem!
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo dignissimos nostrum repellendus consequatur asperiores culpa.
                                    </p>
                                </div>
                            </div>
                            <div class="about_grid_item">
                                <img src="../assets/images/about.png" alt="about">
                            </div>
                            <div class="about_grid_item">
                                <img src="../assets/images/about.png" alt="about">
                            </div>
                            <div class="about_grid_item">
                                <div class="about_grid_text">
                                <h3>RitmStyle массаж </h3>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis, placeat libero tempore, corrupti nis
                                    i blanditiis recusandae inventore quaerat odio, necessitatibus obcaecati reiciendis tenetur dolor
                                    um pariatur quae adipisci et voluptas eos? Atque odit doloremque, voluptatum molestias aut earum labore ad.
                                    Lorem ipsum dolor, sit amet consectetur adipisicing el obcaecati reiciendis tenetur dolor
                                    um pariatur quae adipisci et voluptas eos? Atque odit doloremque, voluptatum molestias aut earum labore ad.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia explicabo sed a animi harum voluptatem!
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo dignissimos nostrum repellendus consequatur asperiores culpa.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cost">
                <div class="cost_title">
                    <div class="wingLeft"></div>
                    <div class="cost_title_text">Стоимость сеансов</div>
                    <div class="wingRight"></div>
                </div>
                <div class="cost_info">
                    <div class="cost_grid">
                        <div class="certificates">
                            <ul>
                                <li class="certificate">
                                    <div class="wingLeft"></div>
                                    <span>RitmStyle с погружением</span>
                                    <span class="price">1000р.</span>
                                </li>
                                <li class="certificate">
                                    <div class="wingLeft"></div>
                                    <span>Абонемент на RitmStyle</span>
                                    <span class="price">5500р.</span>
                                </li>
                                <li class="certificate">
                                    <div class="wingLeft"></div>
                                    <span>RitmStyle для пар</span>
                                    <span class="price">6000р.</span>
                                </li>                           
                                <li class="certificate">
                                    <div class="wingLeft"></div>
                                    <span>RitmStyle для беременных</span>
                                    <span class="price">15500р.</span>
                                </li>                           
                                <li class="certificate">
                                    <div class="wingLeft"></div>
                                    <span>RitmStyle +  фотосессия</span>
                                    <span class="price">15500р.</span>
                                </li>
                            </ul>
                        </div>
                        <div class="gift_certificate">
                            <img src="../assets/images/gift.png" alt="gift">
                            <div class="gift_certificate_text">
                                Подарочный сертификат
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="map">
                <div class="map_grid">
                    <div class="map_img img">
                        <img src="../assets/images/map.png" alt="map">
                    </div>
                    <div class="map_grid_item">
                        <h3>Бассейн WorkClass</h3>
                        <div>
                            <img src="../assets/images/map_3.png" alt="map_icon">
                            <span>Невский 140</span>
                        </div>
                        <div>
                            <img src="../assets/images/map_2.png" alt="map_icon">
                            <span>м. Спасская</span>
                        </div>
                        <div>
                            <img src="../assets/images/map_1.png" alt="map_icon">
                            <span>Запись по договоренности</span>
                        </div>
                        <button>Записаться на сеанс</button>
                    </div>
                    <div class="map_grid_item">
                        <h3>Бассейн WorkClass</h3>
                        <div>
                            <img src="../assets/images/map_3.png" alt="map_icon">
                            <span>Невский 140</span>
                        </div>
                        <div>
                            <img src="../assets/images/map_2.png" alt="map_icon">
                            <span>м. Спасская</span>
                        </div>
                        <div>
                            <img src="../assets/images/map_1.png" alt="map_icon">
                            <span>Запись по договоренности</span>
                        </div>
                        <button>Записаться на сеанс</button>
                    </div>
                </div>
            </div>
            <div class="ritm_style">
                © 2018-2022 RitmStyle
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script type="module">
        let swiper = new Swiper(".mySwiper", {
            effect: "coverflow",
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: "auto",
            coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
            },
            pagination: {
            el: ".swiper-pagination",
            },
        });
      </script>
</body>
</html>